/Nodejs/Beginer/node_modules/
node_modules/
*/x64/
*/.vs

/openCV/datasets/coco128/images/train2017
/openCV/datasets/coco128/labels/train2017
/openCV/YOLO/datasets/coco128
/openCV/YOLO/runs/detect
/openCV/YOLO-train/datasets/*
/.vs
/Algorithms_VS/Algorithms/x64
